<link rel="stylesheet" href="css/bootstrap.css">

<div class="container">
    <h1>add user</h1>
    <div class="row">
        <div class="col-12">
            <form action="/post" method="post">
                <div class="form-row">
                    <div class="col">
                    <input type="text" name="textname" class="form-control">
                </div>
                <div class="col">
                    <input type="submit" value="Input" class="btn btn-primary">
                </div>
                </div>
            </form>
        </div>
    </div>
</div>