<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katalog</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Gejala</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
                <tr>
                    <td>{{pantauan_id}}</td>
                    <td>{{pantauan_nama}}</td>
                    <td>{{pantauan_gejala}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>